@model MicrosoftAssignment2.Models.Party

@{
    // Set the view based on the action (Add or Edit)
    string title = ViewBag.Action + " Party";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="@ViewBag.Action" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>


    @if (ViewBag.Action == "Edit")
    {
        <input type="hidden" asp-for="Id" />
    }

    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input asp-for="Description" class="form-control" pattern="[^\d]*" title="Please enter a valid string!"/>
    </div>

    <div class="form-group">
        <label asp-for="EventDate" class="control-label">Date of Party</label>
        <input asp-for="EventDate" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label asp-for="Location" class="control-label">Location</label>
        <input asp-for="Location" class="form-control" pattern="[^\d]*" title="Please enter a valid string!"/>
    </div>

    <button type="submit" style="background-color: #FFC0CB; color: white; padding: 10px 20px; margin-top: 10px; border: none; border-radius: 4px; cursor: pointer;"class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="Index" style="padding: 10px 20px; margin-top: 10px; border: none; border-radius: 4px; cursor: pointer;"class="btn btn-secondary">Cancel</a>
</form>
