@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Page</h1>
    <p>Manage my <a asp-controller="Parties" asp-action="Index">Parties</a>.</p>
    <p> or <a asp-controller="Parties" asp-action="Add">Add a new party</a>.</p>
</div>
